.root {
  background: linear-gradient(225deg, #4d5869, #707c92);
  color: #fff;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.footer {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  button {
    padding-left: 20px;
    padding-right: 20px;
  }
}
