//$primary: #336fee;
//$primary: #ecf1f7;
$primary: #ffdd2d;
//$primary: #f6f6f6;
$secondary: #f0f4f9;
$success: #37bd74;
$danger: #e8286b;
$info: #1771e6;
$warning: #ff9b37;
//$light: #eef0f2;
$light: #f5f5f6;
$dark: #000;
$body-bg: #ffffff;

//background: #16df7e;
//box-shadow: 0 8px 28px rgb(22 223 126 / 45%);

$link-color: $info;
$link-decoration: none;

$input-bg: $secondary;
$input-focus-bg: #fff;

$form-check-input-checked-color: $dark;
$form-check-input-width: 1.5em;
//$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>") !default;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.293 8.293l-6.294 6.294c.001-.001-2.292-2.294-2.292-2.294a1 1 0 00-1.414 1.414l2.294 2.294c.78.78 2.05.777 2.826 0l6.294-6.294a1 1 0 10-1.414-1.414z' fill='currentColor'></path></svg>") !default;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.293 8.293l-6.294 6.294c.001-.001-2.292-2.294-2.292-2.294a1 1 0 00-1.414 1.414l2.294 2.294c.78.78 2.05.777 2.826 0l6.294-6.294a1 1 0 10-1.414-1.414z' fill='currentColor'></path></svg>") !default;


@import "~bootstrap/scss/functions";

$navbar-light-color: rgba($dark, 1) !default;
$navbar-light-hover-color: rgba($dark, .7) !default;


$badge-font-weight: 500;

$form-check-input-bg: #ecf1f7;
$form-check-input-border: 1px solid rgba(0, 0, 0, .25) !default;

$btn-line-height: 1.75;
$btn-font-weight: 500;

$border-radius: .5rem !default;
$btn-border-radius: .4rem !default;

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer / 4,
        2: $spacer / 2,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 5,
        7: $spacer * 8,
) !default;

@import "~bootstrap/scss/variables";


@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body, html, #__next {
  height: 100%;
}

.text-grey {
  color: #6c757d;
}

.text-cross {
  position: relative;
  &:after {
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
    border-top: 2.5px solid $dark;
    transform: matrix(0.99, -0.15, 0.14, 0.99, 0, 0);
  }
}


.bg-primary, .bg-secondary {
  color: $dark;
}

.btn {
  letter-spacing: 0.02857em;
  //text-transform: uppercase;
  //font-size: 0.875rem;
}

.letter-btn {
  letter-spacing: 0.02857em;
  font-size: 0.875rem;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif !important;
  //font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

.gr-1 {
  background: linear-gradient(225deg, #5FABAD, #79DEA3);
}

.gr-leto {
  background-image: linear-gradient(225deg, #cee666, #63cb6f);
}

.gr-night {
  background-image: linear-gradient(225deg, #47a232, #98cfbf);
}

.gr-grey {
  background: linear-gradient(90deg, #4d5869, #707c92);
}

.gr-sky {
  background: linear-gradient(-225deg, #2980b9, #6dd5fa, #6dfaee);
}

.z1 {
  position: relative;
  z-index: 1;
}

.gr-white {
  background: rgba(255, 255, 255, 0.96);
}

.cpoint {
  cursor: pointer;
}


.banner {
  position: absolute;
  z-index: -3;
  width: 100%;
  top: 0;
  height: 100%;
}

.advantages {
  z-index: -2;
  width: 500px;
  pointer-events: none;
  position: absolute;
  transform: translate(0%, 0%);
  top: 25vh;
  right: 80%;
}

.advantagesLeft {
  z-index: -2;
  width: 380px;
  pointer-events: none;
  position: absolute;
  left: 85%;
  top: -10%;
  transform: scale(-1, 1);
}

.icon-link {
  display: inline-flex;
  align-items: center;
}


// STEPPER

.react-dadata__container {
  position: relative
}

.react-dadata__input {
  display: block;
  box-sizing: border-box;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  outline: none
}

.react-dadata__input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 124, 214, .3);
  border-color: #007cd6
}

.react-dadata__suggestions {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 1px 6px 3px rgba(0, 0, 0, .1);
  top: calc(100% + 8px);
  border-radius: 4px;
  overflow: hidden;
  left: 0;
  right: 0;
  text-align: left
}

.react-dadata__suggestion-note {
  font-size: 14px;
  color: #828282;
  padding: 10px 10px 5px
}

.react-dadata__suggestion {
  font-size: 15px;
  padding: 7px 10px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  display: block;
  background: none;
  border: none;
  text-align: left
}

.react-dadata__suggestion--line-through {
  text-decoration: line-through
}

.react-dadata__suggestion-subtitle {
  font-size: 14px;
  margin-top: 4px;
  color: #777
}

.react-dadata__suggestion-subtitle-item {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 4px
}

.react-dadata__suggestion-subtitle-item:last-child {
  margin-right: 0
}

.react-dadata__suggestion--current {
  background-color: rgba(0, 124, 214, .15)
}

.react-dadata__suggestion:hover {
  background-color: rgba(0, 124, 214, .1)
}

.react-dadata mark {
  background: none
}

.react-dadata--highlighted {
  color: #0094ff
}


////////////////////
