//$primary: #336fee;
//$primary: #ecf1f7;
$primary: #f0f4f9;
//$primary: #f6f6f6;
$secondary: #ffdd2d;
$success: #37bd74;
$danger: #e8286b;
$info: #1771e6;
$warning: #ff9b37;
$light: #eef0f2;
$dark: #3c4055;
$body-bg: #ffffff;

//background: #16df7e;
//box-shadow: 0 8px 28px rgb(22 223 126 / 45%);

$link-color: $info;
$link-decoration: none;


@import "~bootstrap/scss/functions";

$navbar-light-color:                rgba($dark, 1) !default;
$navbar-light-hover-color:          rgba($dark, .7) !default;




$btn-line-height: 1.75;
$btn-font-weight: 500;

$border-radius: .5rem !default;
$btn-border-radius: .5rem !default;

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer / 4,
        2: $spacer / 2,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 5,
        7: $spacer * 8,
) !default;

@import "~bootstrap/scss/variables";



@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');




.btn {
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.letter-btn {
  letter-spacing: 0.02857em;
  font-size: 0.875rem;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif !important;
  //font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

.gr-1 {
  background: linear-gradient(225deg, #5FABAD, #79DEA3);
}

.gr-leto {
  background-image: linear-gradient(225deg, #cee666, #63cb6f);
}

.gr-night {
  background-image: linear-gradient(225deg, #47a232, #98cfbf);
}

.gr-grey {
  background: linear-gradient(225deg, #4d5869, #707c92);
}

.gr-sky {
  background: linear-gradient(-225deg, #2980b9, #6dd5fa, #6dfaee);
}

.z1 {
  position: relative;
  z-index: 1;
}
